/************************************************************************************
Layout
*************************************************************************************/

#content1 {
	width: 1400px;
	margin: 0 auto;
	background: rgba(0, 0, 0, .3);
}
.container {
	width: 1020px;
	min-width: 1020px;
	margin: 0 auto;
}
.bg_color {
	background: #fff;
}
.orange_text {
	color: #e55012;
}

/************************************************************************************
Banner
*************************************************************************************/

.topic1-container .banner {
	width: 100%;
	height: 480px;
	background: #4b231f;
	background-position: right top;
	overflow: hidden;
	margin: 0 auto;
}
.topic1-container .logo {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}
.topic1-container .logo h3 {
	width: 287px;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	padding-top: 60px;
}
.topic1-container .text_yellow {
	color: #fbd508;
	font-size: 14px;
}
.topic1-container .kv-img {
	margin: -122px 0 0 -183px;
}
.topic1-container .banner-img {
	width: 58%;
	display: inline-block;
}

/************************************************************************************
Map
*************************************************************************************/

.topic1-container .map {
	width: 100%;
	height: 300px;
	overflow: hidden;
}
.topic1-container .map img {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

/************************************************************************************
Tabs
*************************************************************************************/

.topic1-container .main-content {
	margin-top: -80px;
}
.topic1-container ul.tabs {
	width: 100%;
	height: 99px;
	text-align: right;
}
.topic1-container ul.tabs li {
	display: inline-block;
	line-height: 58px;
	overflow: hidden;
	position: relative;
}
.topic1-container ul.tabs li a {
	width: 160px;
	height: 99px;
	display: block;
	background: url(../../img/topic1/img_tab_normal.png);
}
.topic1-container ul.tabs li a:hover {
	background: url(../../img/topic1/img_tab_active.png);
}
.topic1-container ul.tabs li.highlight a {
	background: url(../../img/topic1/img_tab_active.png);
}
.topic1-container .tab_container {
	clear: left;
	width: 100%;
	margin-top: -19px;
	position: relative;
}
.topic1-container .tab_text {
	width: 160px;
	height: 38px;
	margin: 0 auto;
	position: relative;
	top: 25px;
}
.topic1-container .walk-in, .topic1-container .walk-in:hover {
	/*Gray*/
	background: url(../../img/topic1/img_tab01_walkin.png) no-repeat center -40px;
}
.topic1-container .highlight .walk-in {
	/*Black*/
	background: url(../../img/topic1/img_tab01_walkin.png) no-repeat center 0;
}
.topic1-container .nearby {
	/*Gray*/
	background: url(../../img/topic1/img_tab02_nearby.png) no-repeat center -40px;
}
.topic1-container .nearby:hover, .topic1-container .highlight .nearby {
	/*Black*/
	background: url(../../img/topic1/img_tab02_nearby.png) no-repeat center 0;
	;
}

/************************************************************************************
Walk-in
*************************************************************************************/

.topic1-container .bg_color {
	background: #eee;
	width: 100%;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Safari only override */
	::i-block-chrome, .bg_color {
		margin-top: -4px;
	}
}
.topic1-container .center {
	text-align: center;
}

/**********************************
[Walk-in_block1] Author
***********************************/

.topic1-container .block1 {
	height: 445px;
}
.topic1-container .block1 .container {
	padding-top: 110px;
}
.topic1-container h1 {
	font-size: 30px;
	font-weight: normal;
	text-align: center;
}

/*author*/

.topic1-container .author {
	width: 100%;
	padding: 20px 0 10px;
}
.topic1-container .author_photo {
	width: 30px;
	height: 30px;
}
.topic1-container .author_photo  img{
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.topic1-container .author li {
	display: inline-block;
	padding: 0 12px 0 0;
	font-size: 14px;
	color: #666;
	vertical-align: middle;
}
.topic1-container .author li i{
	font-size: 14px;
	color: #666;
}
.topic1-container .author li:nth-child(2) {
	padding-right: 17px;
	color: #f3bd17;
}

/*tags*/

.topic1-container .tag li {
	display: inline-block;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 80px;
	height: 20px;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
}
.topic1-container .tag li a {
	padding: 0 5px;
	color: #333;
}

/*social-button*/

.topic1-container .social-button {
	padding: 20px 0 30px;
}
.topic1-container .social-button li {
	width: 60px;
	height: 32px;
	color: #fff;
	font-size: 20px;
	display: inline-block;
	text-align: center;
	padding: 0 5px 0 0;
	cursor: pointer;
}
.topic1-container .btn {
	width: 60px;
	height: 32px;
	display: block;
	font-size: 20px;
	color: white;
}
.topic1-container .icon-facebook:before, .topic1-container .icon-wechat:before, .topic1-container .icon-wechat:before, .topic1-container .icon-twitter:before, .topic1-container .icon-weibo:before {
	padding-top: 6px;
}
.topic1-container .icon-facebook {
	background: #0068b7;
}
.topic1-container .icon-facebook:hover {
	background: #015798;
}
.topic1-container .icon-twitter {
	background: #80c5da;
}
.topic1-container .icon-twitter:hover {
	background: #40a0bd;
}
.topic1-container .icon-weibo {
	background: #d92727;
}
.topic1-container .icon-weibo:hover {
	background: #ca1010;
}
.topic1-container .icon-wechat {
	background: #33baa4;
}
.topic1-container .icon-wechat:hover {
	background: #19a68f;
}
.topic1-container h3 {
	font-size: 16px;
	line-height: 30px;
	color: #333;
}

/**********************************
[Walk-in_block2]
***********************************/

.topic1-container #walk-in .block2 {
	margin-bottom: 198px;
}
.topic1-container #walk-in .block2 img {
	padding: 47px 0 60px 0;
}
.topic1-container #walk-in .block2 h3 {
	padding: 30px 0 60px;
}

/**********************************
[Walk-in_block3] market-list
***********************************/

.topic1-container #walk-in .block3 {
	width: 770px;
	height: auto;
	background: url(../../img/topic1/img_store_titile.png) no-repeat;
	margin: 0 auto;
}
.topic1-container .market-list-left {
	display: inline;
	top: 42px;
	position: relative;
	margin-left: -68px;
}
.topic1-container .market-list-left li:nth-child(6) {
	padding-left: 182px;
}
.topic1-container .market-list-left li {
	width: 20px;
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
	vertical-align: top;
	text-align: center;
	padding: 0 17px;
}
.topic1-container .market-list-left li a {
	color: #000;
	text-decoration: none;
}
.topic1-container .market-list-left li a:hover .dot {
	background: url(../../img/topic1/img_yellowdot.png) no-repeat;
}
.topic1-container .dot {
	background: url(../../img/topic1/img_blackdot.png) no-repeat;
	width: 20px;
	height: 20px;
	padding-bottom: 15px;
}
.topic1-container .highlight .dot {
	background: url(../../img/topic1/img_yellowdot.png) no-repeat;
}
.topic1-container .market-list-left li:first-child, .market-list-right li:first-child {
	padding-left: 30px;
}

/**********************************
[Walk-in_block3] market01
***********************************/

.topic1-container .margin_bottom {
	margin-bottom: 160px;
}
.topic1-container .left-intro {
	display: inline-block;
	padding-right: 30px;
	vertical-align: top;
}
.topic1-container .right-intro {
	display: inline-block;
}
.topic1-container .black_tag {
	width: 237px;
	height: 50px;
	background: url(../../img/topic1/img_blackarrow.png) 45px 34px no-repeat;
}
.topic1-container .black_tag_text {
	font-size: 14px;
	padding: 10px;
	background: #000;
	color: #fee600;
}
.topic1-container .left-intro h1 {
	color: #000;
	font-size: 50px;
	padding-bottom: 13px;
	word-spacing: 10px;
	text-align: left;
}
.topic1-container .left-intro h2 {
	width: 405px;
	font-size: 18px;
	padding-bottom: 6px;
	font-weight: bold;
	line-height: 1.4;
}
.topic1-container .left-intro h3 {
	font-size: 14px;
	width: 420px;
	line-height: 30px;
}
.topic1-container #market01 img {
	display: inline-block;
	position: relative;
}
.topic1-container .photo_txt {
	font-size: 12px;
	margin: -41px 0 0 73px;
	color: #996c33;
}
.topic1-container .gototop {
	width: 77px;
	height: 77px;
	background: url(../../img/topic1/top.png);
	cursor: pointer;
	position: relative;
	z-index: 9;
}
.topic1-container .position_right {
	/*float: right;*/
	margin: 0 34px -34px 76%;
}
.topic1-container .position_left {
	/*float: left;*/
	margin: 0 0 -34px 34px;
}
.topic1-container .gototop h1 {
	color: #000;
	font-size: 36px;
	font-weight: bold;
	padding-top: 5px;
}

/*new-product*/

.topic1-container .new-product {
	width: 500px;
	height: 140px;
	background: #fff;
	border: 1px solid #ddd;
	display: inline-block;
	margin-top: -59px;
}
.topic1-container .new-product li {
	display: inline-block;
}
.topic1-container .new-product li:first-child {
	width: 44%;
	padding: 15px 0 0 10px;
	box-sizing: border-box;
}
.topic1-container .new-product li:last-child {
	padding-left: 35px;
	vertical-align: top;
}
.topic1-container .new {
	font-size: 24px;
}
.topic1-container .new-product h2 {
	color: #e55012;
}
.topic1-container .new-product h3 {
	font-size: 18px;
	color: #333;
	font-weight: bold;
}
.topic1-container .new-product h4 {
	font-size: 12px;
	color: #333;
	line-height: 20px;
}

/*products*/

.topic1-container .products li {
	display: inline-block;
	margin-top: 20px;
	padding-right: 32px;
	vertical-align: top;
	position: relative;
}
.topic1-container .brown_text {
	font-size: 12px;
	color: #996c33;
}
.topic1-container .products li:last-child {
	padding-right: 0;
}
.topic1-container .info ul {
	margin-top: 18px;
}
.topic1-container .info li {
	display: block;
	padding: 5px 0 0 20px;
	margin-top: 0;
}
.topic1-container .info {
	width: 358px;
	height: 160px;
	border: 1px solid #ddd;
	background: #fff;
	position: relative;
}
.topic1-container .info *{
	font-size: 14px;
}
.topic1-container .info:before {
	content: "";
	width: 18px;
	height: 18px;
	background: url(../../img/topic1/img_dotline.png);
	position: absolute;	top: -5px;	right: -4px;
}
.topic1-container .info:after {
	content: "";
	width: 18px;
	height: 18px;
	background: url(../../img/topic1/img_dotline.png);
	position: absolute;	bottom: -4px;	left: -5px;
}
.topic1-container .info .black_tag_text {
	width: 80px;
	font-size: 18px;
	text-align: center;
	padding: 4px 0px;
	margin: -15px auto -7px;
}
.topic1-container .info .orange_text {
	font-size: 18px;
	padding: 0 5px;
}
.topic1-container .next_price {
	display: block;
	text-indent: 41px;
	padding: 2px 0;
}
.topic1-container .more {
	width: 43px;
	height: 32px;
	background: url(../../img/topic1/btn_more.png) no-repeat;
	cursor: pointer;
	position: relative;
	float: right;
	top: -35px;
	right: 5px;
}

/**********************************
[Walk-in_block3] market02
***********************************/

.topic1-container #market02 .products li {
	width: 230px;
	padding-right: 20px
}
.topic1-container #market02 .right-intro {
	margin-top: -43px;
}
.topic1-container #market02 .left-intro {
	padding-left: 32px;
}
.topic1-container #market02 h2, #market02 h3 {
	width: 340px;
}
.topic1-container #market02 .photo_txt {
	margin: 0;
}
.topic1-container .boss_pic {
	position: absolute;
	margin: -219px 0 0 370px;
}
.topic1-container #market02 .more {
	right: -125px;
}
.topic1-container #market04 .more {
	top: -25px;
}
.topic1-container #market05 .more {
	top: -25px;
}
.topic1-container #market08 .more {
	top: -12px;
}
.topic1-container #market08 .more {
	top: -25px;
}

/**********************************
[Walk-in_block3] market03
***********************************/

.topic1-container #market03 .left-intro h3 {
	width: 390px;
}
.topic1-container #market03 .left-intro {
	padding-right: 24px;
}
.topic1-container #market03 .right-intro {
	float: right;
	margin: -65px 25px 0px 0px;
}
.topic1-container #market03 .black_tag {
	width: 192px;
}
.topic1-container .market03-banner {
	margin: 23px 0 0 -32px;
	float: left;
}
.topic1-container #market03 .photo_txt {
	margin: -57px 0 0 0;
}
.topic1-container .products-block {
	vertical-align: top;
	margin: 116px 0 0 445px;
	padding-bottom: 7px;
}
.topic1-container #market03 .products li:first-child {
	width: 198px;
}
.topic1-container #market03 .info {
	position: absolute;
	width: 275px;
}
.topic1-container .market03-banner .photo_txt {
	width: 264px;
	padding: 16px 0 0 163px;
}
.topic1-container #market03 .more {
	top: 0;
}

/**********************************
[Walk-in_block3] market04
***********************************/

.topic1-container .big-image {
	margin-left: -147px;
}
.topic1-container .layout01 .products li {
	width: 230px;
	display: table-cell;
}
.topic1-container .layout01 .right-intro {
	margin-top: -43px;
}
.topic1-container .layout01 .left-intro {
	padding: 0 0 0 50px;
}
.topic1-container .layout01 .info {
	width: 290px;
	height: 135px;
	display: inline-block;
	vertical-align: super;
	margin: 25px 0 36px 0;
}
.topic1-container .food {
	display: inline-block;
}
.topic1-container .layout01 .photo_txt {
	margin: -17px 0 0 0;
	text-align: right;
}
.topic1-container #market04 .black_tag {
	width: 192px;
}

/**********************************
[Walk-in_block3] market05
***********************************/

.topic1-container #market05 .products {
	padding-top: 18px;
}
.topic1-container #market05 .products li {
	width: 184px;
}
.topic1-container #market05 .black_tag {
	width: 148px;
}
.topic1-container #market05 .photo_txt {
	margin: -50px 0 25px 0;
}
.topic1-container #market05 .info {
	width: 290px;
	height: 135px;
	display: inline-block;
	vertical-align: bottom;
}
.topic1-container .market05-banner {
	display: inline-block;
	padding: 32px 13px 0 0;
}

/**********************************
[Walk-in_block3] market06
***********************************/

.topic1-container .layout02 .right-intro {
	padding-right: 30px;
	margin-top: -42px;
}
.topic1-container .layout02 .left-intro {
	padding-right: 0;
}
.topic1-container .layout02 .left-intro h2 {
	width: 432px;
}
.topic1-container .layout02 .left-intro h3 {
	width: 340px;
}
.topic1-container .layout02 .products {
	padding-top: 18px;
}
.topic1-container .layout02 .products li {
	width: 230px;
	padding-right: 20px;
}
.topic1-container .layout02 .photo_txt {
	margin: 10px 0 -29px 0;
}
.topic1-container .layout02 .info {
	width: 290px;
	height: 150px;
	margin: 150px 0 0 -46px;
	position: relative;
	z-index: 12;
}
.topic1-container .layout02 .boss_pic {
	margin: -96px 0 0 198px;
	z-index: 1;
}
.topic1-container #market06 .more {
	top: -11px;
}
.topic1-container #market06 .black_tag {
	width: 192px;
}

/**********************************
[Walk-in_block3] market07
***********************************/

.topic1-container #market07 .new-product {
	margin-top: -88px;
}
.topic1-container #market07 .products li {
	width: 162px;
}
.topic1-container #market07 .info li {
	width: 290px;
}
.topic1-container #market07 .new-product li:first-child {
	width: 47%;
}
.topic1-container #market07 .new-product li:last-child {
	padding-left: 50px;
}
.topic1-container #market07 .photo_txt {
	margin: -64px 0 0 57px;
}
.topic1-container #market07 .more {
	right: -186px;
}

/**********************************
[Walk-in_block3] market08
***********************************/

.topic1-container #market08 .right-intro {
	padding-right: 9px;
	margin-top: -42px;
}
.topic1-container #market08 .left-intro h1 {
	padding-bottom: 13px;
}
.topic1-container #market08 .left-intro h3 {
	width: 332px;
}
.topic1-container #market08 .photo_txt {
	margin: 3px 0 -22px 0;
}
.topic1-container #market08 .info {
	width: 290px;
	margin: 55px 0 0 -46px;
	position: relative;
	z-index: 12;
}
.topic1-container #market08 .products {
	padding-top: 24px;
}
.topic1-container #market08 .boss_pic {
	margin: -256px 0 0 296px;
	z-index: 1;
}
.topic1-container #market08 .black_tag {
	width: 220px;
}

/**********************************
[Walk-in_block3] market09
***********************************/

.topic1-container #market09 {
	margin-bottom: 65px;
}
.topic1-container #market09 .big-image {
	margin-left: -61px;
}
.topic1-container #market09 .left-intro {
	padding: 0 0 0 26px;
}
.topic1-container #market09 .left-intro h2 {
	width: 435px;
}
.topic1-container #market09 .left-intro h3 {
	width: 530px;
}
.topic1-container #market09 .food {
	padding: 24px 0 0 35px;
}
.topic1-container #market09 .black_tag {
	width: 135px;
}

/************************************************************************************
NearBy
*************************************************************************************/


/**********************************
[Nearby_block1] Step 01
***********************************/

.topic1-container #nearby .block1 {
	height: 360px;
}
.topic1-container .blackline {
	width: 54px;
	border: 1px solid #000;
	text-align: center;
	margin: 15px auto 0;
}
.topic1-container .grayline {
	width: 100%;
	border: 1px solid #ddd;
	text-align: center;
	margin: 0 auto 30px;
}

/**********************************
[Nearby_block2] Step 01
***********************************/

.topic1-container .step-introction {
	width: 100%;
	background: #fff;
	height: 628px;
}
.topic1-container .layout-txt {
	width: 44%;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.topic1-container .introduction {
	width: 360px;
	height: 628px;
	vertical-align: top;
	text-align: center;
	background: #fff;
	margin-right: -1px;
	padding-left: 23px;
}
.topic1-container .intro_right {
	float: right;
	padding: 0 90px 0 0;
}
.topic1-container .inline {
	display: inline;
}
.topic1-container .introduction h2 {
	padding: 97px 0 47px 0;
	font-size: 24px;
	color: #333;
	line-height: 36px;
	font-weight: bold;
}
.topic1-container .image {
	width: 55%;
	height: 628px;
	position: absolute;
	overflow: hidden;
}
.topic1-container .image-right {
	display: inline-block;
	right: 0;
	background-color: #eee;
}
.topic1-container .image-left {
	position: relative;
	display: inline-block;
}
.topic1-container .mask:before {
	width: 200px;
	height: 200px;
	content: "";
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	/*background: rgba(0,0,0,.2);*/
	position: absolute;
}
.topic1-container .mask img {
	width: 200px;
	height: 200px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.topic1-container .location-info {
	margin-top: 52px;
}
.topic1-container .location-info li {
	padding-bottom: 10px;
	font-size: 12px;
}
.topic1-container .location-info li i {
	padding-right: 8px;
}
.topic1-container .padding li {
	padding-bottom: 14px;
}

/**********************************
[Nearby_block3] Step 01
***********************************/

.topic1-container .left-column {
	display: inline-block;
	width: 380px;
	vertical-align: top;
	padding: 160px 116px 0 0;
}
.topic1-container .right-column {
	display: inline-block;
	padding-top: 120px;
}
.topic1-container .photo_description {
	color: #666;
	font-size: 12px;
	line-height: 18px;
	padding-top: 3px;
	display: block;
	text-align: left;
}
.topic1-container .photo-left {
	width: 930px;
	padding-top: 120px;
}
.topic1-container .photo-left .photo_description {
	text-align: right;
}
.topic1-container .photo-right {
	width: 930px;
	padding: 60px 0 120px 0;
	float: right;
}
.topic1-container .big-photo {
	clear: both;
	margin: 0 auto;
}
.topic1-container .left-side {
	width: 100%;
	display: inline-block;
}
.topic1-container .right-side {
	width: 79%;
	display: inline-block;
	margin-left: -6px;
}

/**********************************
[Nearby_block4] Step 02
***********************************/

.topic1-container .block4 .container {
	padding: 110px 0 55px 0;
}
.topic1-container .block4 .photo_description {
	text-align: center;
}

/**********************************
[Nearby_block5] Step 02
***********************************/

.topic1-container .block5 {
	padding-bottom: 115px;
}
.topic1-container .block5 .left-column {
	width: 506px;
	padding: 119px 174px 0 0;
}
.topic1-container .block5 .right-column {
	display: inline-block;
	padding-top: 235px;
}
.topic1-container .photo01 {
	width: 450px;
	margin-bottom: 120px;
}
.topic1-container .photo02 {
	width: 450px;
	padding-left: 120px;
}
.topic1-container .photo03 {
	width: 288px;
}

/**********************************
[Nearby] Step 03
***********************************/

.topic1-container #test3 .introductio {
	padding-left: 8px;
}
.topic1-container #test3 .introduction h2 {
	padding: 44px 0 31px 0;
}
.topic1-container ul.store-info li {
	display: inline-block;
	vertical-align: top;
}
.topic1-container ul.store-info li ol {
	padding: 0 22px;
}
.topic1-container ul.store-info li ol li {
	display: block;
}

/**********************************
[Nearby_block6] Step 03
***********************************/

.topic1-container .block6 .left-column {
	width: 312px;
	padding: 240px 132px 0 0;
}
.topic1-container .block6 .right-column {
	width: 450px;
	display: inline-block;
	padding-top: 120px;
}
.topic1-container .block6 .photo01 {
	width: 290px;
}
.topic1-container .block6 .photo02 {
	padding-left: 0;
}
.topic1-container .block6 .photo03 {
	padding: 120px 0 0 85px;
}
.topic1-container .block6 .photo02 .photo_description, .block6 .photo03 .photo_description {
	text-align: center;
}

/**********************************
[Nearby_block7] Step 04
***********************************/

.topic1-container .block7 .photo-left {
	width: 885px;
	display: inline-block;
}
.topic1-container .description {
	width: 334px;
	display: inline-block;
	vertical-align: top;
	padding: 140px 0 240px 22px;
}

/**********************************
[Nearby_block8] Step 04
***********************************/

.topic1-container .block8 {
	padding-bottom: 120px;
}
.topic1-container .block8 li {
	width: 280px;
	display: inline-block;
	padding-right: 6px;
	vertical-align: top;
}
.topic1-container .block8 li img {
	width: 280px;
}
.topic1-container .block8 li:last-child {
	width: 430px;
	text-align: right;
}
.topic1-container .block8 li:last-child img {
	width: 435px;
}
.topic1-container .block8 li:last-child .photo_description {
	text-align: right;
}

/**********************************
[Nearby_block9] Step 04
***********************************/

.topic1-container .block9 li {
	width: 242px;
	display: inline-block;
	padding-right: 30px;
	vertical-align: top;
}
.topic1-container .block9 li:first-child {
	width: 760px;
}

/**********************************
[Nearby] step-link
***********************************/

.topic1-container nav {
	width: 60px;
	right: 24px;
	top: 10%;
	padding: 0 12px;
	display: none;
}
.topic1-container nav.stick {
	display: block;
	position: fixed;
	top: 10%;
	z-index: 12;
	margin-top: 12px;
	right: 30px;
}
.topic1-container .navigation li {
	list-style: none;
	width: 60px;
}
.topic1-container .navigation li a.stepnum {
	display: block;
	text-decoration: none;
	color: #999;
}
.topic1-container .navigation li a.stepnum:hover {
	color: #000;
}
.topic1-container a.nav-active h1, .topic1-container a.nav-active span {
	color: #000;
}
.topic1-container .step-link {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.topic1-container .navigation li a.stepnum h1 {
	font-size: 19px;
}
.topic1-container .navigation li a.stepnum span {
	font-size: 11px;
	position: relative;
	top: -3px;
}
.topic1-container .twopoint {
	height: 16px;
	background: url(../../img/topic1/nearby/img_2graypoint.png) 26px 0 no-repeat;
	margin-bottom: 8px;
	display: block;
}
.topic1-container .nav-active .twopoint {
	background: url(../../img/topic1/nearby/img_2darkpoint.png) 26px 0 no-repeat;
}
.topic1-container .threepoint {
	height: 28px;
	background: url(../../img/topic1/nearby/img_3graypoint.png) 26px 0 no-repeat;
	margin: 8px 0;
	display: block;
}
.topic1-container .nav-active .threepoint {
	background: url(../../img/topic1/nearby/img_3darkpoint.png) 26px 0 no-repeat;
}
.topic1-container .map_icon {
	width: 24px;
	height: 24px;
	background: url(../../img/topic1/nearby/img_map.png) no-repeat;
	position: absolute;
	margin-top: -35px;
	right: -17px;
	opacity: 0;
}
.topic1-container .show .map_icon {
	opacity: 1;
}

/************************************************************************************
Map
*************************************************************************************/

.topic1-container .fullscreen {
	display: none;
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}
.topic1-container .fullscreen img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

@media all and (max-width: 1440px) {
	.topic1-container{
		width: 100%;
		overflow: hidden;
	}
}